:root {
  /* --main-color: #d41e33; */
  --main-color: #e87a85;
  /* --background-color: #363636; */
  /* --background-color: #7b796e; */
  --nav-color: #f7f1e9;
  --background-color: #284629;
}

a {
  color: white;
  transition: all .25s;
  text-decoration: none;
}

a.dark {
  color: black;
}

a:hover {
  color: var(--main-color);
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.25em; }

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.25em;}

h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 0.25em; }

h4 {
  font-size: 1.1em;
  line-height: 1.25;
  margin-bottom: 0.25em; }

h5 {
  font-size: 1em;
  margin-bottom: 0.25em; }

h6 {
  font-size: 1em;
  margin-bottom: 0.25em; }

/* Text elements */
p {
  margin-bottom: 0.5em;
  margin-top: 0.75em;
  font-weight: 300;}

p.last {
  margin-bottom: 0; }

p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
  line-height: 1.25em;}


