:root {
  --main-color: #06D6A0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.25em; }

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.25em; }

h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 0.25em; }

h4 {
  font-size: 1.1em;
  line-height: 1.25;
  margin-bottom: 0.25em; }

h5 {
  font-size: 1em;
  margin-bottom: 0.25em; }

h6 {
  font-size: 1em;
  margin-bottom: 0.25em; }

/* Text elements */
p {
  margin-bottom: 0.5em; }

p.last {
  margin-bottom: 0; }

p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }


