@import 'reset.css';
@import 'core.css';
@import 'layout.css';
@import 'partials/nav.css';
@import 'partials/title.css';
@import 'partials/sidebar.css';
@import 'partials/footer.css';

@import 'pages/home.css';
@import 'pages/page.css';
@import 'pages/posts.css';


body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    /* background: #eee; */
}

p {
  font-family: 'Open Sans', sans-serif;
}