.Home-primary-image-wrapper {
  position: relative;
}

.Home.primary-image-text {
  position: absolute;
  bottom: 0;
  left: 20%;
  background: white;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.Home-post-wrapper {
  margin-top: 75px;
}

.recentPostsTitle {
  position:relative;
}

.recentPostsTitle:after {
  content: '';
  position: absolute;
  display: block;
  width: 80%;
  height: 1px;
  top: calc(50% - 1px);
  right: 0;
  background-color: var(--background-color);
  z-index: 1;
}

.Home-post {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.Home-post-text {
  background: var(--background-color);
  position: relative;
  bottom: 5px;
  text-align: center;
  padding: 10px 5px;
}

.Home-post-text h2 {
  margin-top: .25em !important;
}


@media(max-width: 767px) {
  .Home-post {
    width: 100%;
  }
}