.Home-primary-image-wrapper {
  position: relative;
}

.Home.primary-image-text {
  position: absolute;
  bottom: 0;
  left: 20%;
  background: white;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.Home-post {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.Home-post-text {
  background: var(--main-color);
}


@media(max-width: 767px) {
  .Home-post {
    width: 100%;
  }
}